@font-face {
    font-family: "BebasNeue";
    src: url("./assets/fonts/BebasNeue-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "BebasNeue-Bold";
    src: url("./assets/fonts/bebas-neue-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "OpenSans";
    src: url("./assets/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans-Bold";
    src: url("./assets/fonts/OpenSans-Bold.ttf");
    font-weight: 700;
}