* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    font-family: "OpenSans";
    font-size: 18px;
}

main {
    flex: 1 1;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header {
    position: absolute;
    width: 100%;
    padding: 40px 0;
}

nav {
    width: 100%;
    max-width: 640px;
    min-width: 350px;
}

.menu_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.menu_link {
    text-decoration: none;
    text-transform:uppercase;
    font-family: "OpenSans-Bold";
    font-size: 12px;
    color: #FFF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.language {
    display: flex;
    gap: 6px;
}

.language_btn {
    text-transform: uppercase;
    color: #FFF;
    font-family: "OpenSans-Bold";
    font-size: 12px;
}

.line {
    height: 30px;
    width: 1px;
    background-color: #FFF;
}

.platforms {
    display: flex;
    gap: 17px;
}

.main {
    height: 960px;
    background-image: url(./assets/img/background1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.main > .wrapper {
    height: 100%;
    flex-direction: column;
    background: linear-gradient(#FFB54800, #342C1DCD 80%, #08090A);
}

.main_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main_name {
    margin-top: 35%;
    color: #FFF;
    font-family: "BebasNeue-Bold";
    font-size: 80px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.descr_text {
    margin-bottom: 30px;
    color: #FFF;
    font-family: "BebasNeue-Bold";
    font-size: 24px;
    letter-spacing: 2px;
}

.buy_steam {
    display: flex;
    height: 60px;
    width: 260px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 4px;
    font-family: "OpenSans-Bold";
    font-size: 16px;
    background: linear-gradient(195deg, #FFB548 11.27%, #F3AF34 90.4%);
    color: #1A1917;
}

.scroll_down {
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #FFF;
    font-family: "OpenSans-Bold";
    text-transform: uppercase;
}